.Badges {
    max-width: 250x;
    height: 45px;
    padding: 2px 2px 2px 2px;
}

.badgeRow {
    margin-left:5%;
    margin-right: 5%;
    align-items: center;
}

#Footer {
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: bisque;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    display: flex;
}