#header {
    display: flex;
    height:auto;
    width: auto;
    display: flex;
}

.Banner {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    display: flex;
}

img {
    /* object-fit: cover; */
    display: cover;
    
}